Settings/Session.sublime_session 
Settings/Auto\ Save\ Session.sublime_session
*.pyc
*.cache
.DS_Store
Packages/User/SublimeREPLHistory/*
Settings/Session.sublime_session
Packages/Default/Side\ Bar\ Mount\ Point.sublime-menu
Packages/Default/Side\ Bary.sublime-menu
